body {
    font-family: Arial, San-Serif;
    font-size: 100%;
    background-color: #4F517D
}ul{
   margin: 0;   paddig: 0:
}ul li{
   list-style-type: none;}
a{   text-decoration: none;
}
header {
    padding: 50px 0;
    background-color: #4F517D;
}
h1, h2 {
    color: #DFDFDF text-align: center;
}nav {
    background-color: #343434;    border-color: #OOOOOO;
    min-height: 64px;}
nav li {    float: left;
    width: 100px;}
    nav a {
        display: block;
        color: #575cbf;
        line-height: 4em;
        font-weight: bold;
        text-align: center;
    }
    nav li a:hover {
        color: #343434;
        background-color: #343434;
    }